* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("Freedom.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

#oath {
    font-size: 14px;
    font-family: 'Khula', sans-serif;
    text-align: justify;
    padding: 1em;
    color: black;
    background-color: LightGrey;
    margin-top: 10em;
    border: 5px solid black;
    border-radius: 10px;

}

#container {
    width: 1000px;
    overflow: hidden;
    margin: 50px auto;

}

header {
    width: 800px;
    margin: 40px auto;
}

header h1 {
    text-align: left;
    font-family: 'Tangerine', cursive;
    font-size: 4em;
    border-bottom: 8em;
}

.first {
    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 120s linear infinite;
}

@keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -15750px;
    }
}

@-moz-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -15750px;
    }
}

@-webkit-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -15750px;
    }
}

@-ms-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -15750px;
    }
}

@-o-keyframes "bannermove" {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -15750px;
    }
}

.photobanner {
    height: 233px;
    width: 3550px;
    margin-bottom: 0px;
}

.photobanner img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.photobanner img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
